{% extends "./layout.html" %}

{% block content %}
    {% if code %}
    <script>loadConfirmCode = '{{ code }}';</script>
    {% endif %}
    <!--=== Page Header ===
    <div class="page-header">
        <div class="page-title">
            <h3>Get Buckets</h3>
        </div>
    </div>
    <!-- /Page Header -->

    <!--=== Page Content ===-->
    <div class = "row full-body" id="addResForm">

    <div class="" id="noty-home">
        
    </div>

    <div class = "col-md-5">
        <!--<div class = "widget box" id="bookingNumInfo">
            <div class = "widget-content slim clearfix">
                <h5 class="pull-left">Total Price</h5>
                
                <span id="customPrice" class=" trip-price pull-left">

                        $ <input class="" type="text" size="6" id="custom-price" name="custom-price" placeholder = "">
                        
                        <label class="checkbox-inline">

                                    <input type="checkbox" class="uniform" name="auto_total_price" />  

                            <small><em>SRP $<span class="suggestedTotal"></span></em></small>
                        </label>

                </span>
                
                <div id="amountPaid" class="pull-left">
                    <h5 class="pull-left">Amount Paid</h5>
                    <div class="trip-price pull-left">
                        $ <input class="" type="text" size="6" id="price-paid" name="price-paid" readonly placeholder = "">
                    </div>
                </div>
            </div>
        </div>-->

         <div class = "widget box" id="bookingNumInfo">
            <div class = "widget-content slim clearfix">
                <div class="row">
                    <div class="col-xs-4 col-md-4 col-lg-5">
                        <h5>Total Price</h5>
                        <span id="customPrice" class="trip-price pull-left show-price">

                            <span class="price-input-label">$</span> <input class="price-input" type="text" size="6" id="custom-price" name="custom-price">

                            <label class="checkbox-inline">
                                <input type="checkbox" class="uniform" name="auto_total_price" />  
                                <small><em>SRP $<span class="suggestedTotal"></span></em></small>
                            </label>

                        </span>
                    </div>
                    <div class="col-xs-4 show-price">
                        <h5>Amount Paid</h5>
                        <div id="amountPaid" class="trip-price">
                            <span class="price-input-label">$</span> <input class="price-input" type="text" size="6" id="price-paid" name="price-paid" readonly>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-4 col-lg-3 show-price">
                        <h5>Amount Due</h5>
                        <div id="amountDue" class="trip-price">
                            <span class="price-input-label">$</span> <input class="price-input" type="text" size="5" id="price-due" name="price-due" readonly>
                        </div>
                    </div>             
                </div>
            </div>
        </div>
        
        <!----
            Trip Box 
        -->
         <div class = "widget box trip hide">
            <div class = "widget-header clearfix trip-header">
                
               <div class="form-inline pull-left">
                    
                <div class="form-group">
                    <div class="dropdown people-amount pull-left" data-replace="People"> 
                        <button class="btn btn-sm slim" type="button" data-toggle="dropdown" tabindex="0">
                         <span class="unselected">People</span>
                        </button>
                        <ul class="dropdown-menu dropdown-side trip-traveler-amount" role="menu" data-replace="People">
                          {% for i in Array(32) %}
                          <li role="presentation"><a role="menuitem" data-num="{{ loop.index }}" tabindex="0"> {{ loop.index }} People</a></li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
                    
                <div class="form-group">
                    <div class="dropdown trip-type-dual pull-left">
                        <button class="btn btn-sm " type="button" data-toggle="dropdown" tabindex="0">
                            <span class="unselected">Origin to Destination</span>
                        </button>
                        <ul class="dropdown-menu direction-menu dropdown-scroll col-3" role="menu">
                          {% for origin in linkData %}
                            {% if loop.index0 > 0 %}<li role="separator" class="divider"></li>{% endif %}
                              {% set originKey = loop.key %}
                              {% for dest in origin %}
                              <li role="presentation"><a role="menuitem" tabindex="0" data-origin="{{ originKey }}" data-dest="{{ dest }}">
                                      {{ locationData[locKeys[originKey]].label }} to {{ locationData[locKeys[dest]].label }}
                                  </a></li>
                              {% endfor %}
                          {% endfor %}
                        </ul>
                    </div>
                </div>
                
                
                 <div class="form-group trip-price">

                    <span class="tripPrice price-input-label">$</span>
                    <input class="tripPrice price-input" name="tripPrice[]" type="text" maxlegnth="6" size="4" />
                    
                    <label class="checkbox-inline">
                        <input type="checkbox" class="uni" name="auto_price" />
                    
                        <small><em>SRP $<span class="suggestedPrice"></span></em></small>
                    </label>
                    

                     </div>
                </div>
                
                <button class="tripClose pull-right btn btn-sm btn-less"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
             
            <div class = "widget-content">
                <div class = "row">
                    <div class="col-xs-6">
                        <div class="form-inline datetime">
                            <div class="form-group date-picker">
                                <div class="input-group">
                                    <input class="form-control date-picker-control" type="text" placeholder = "MM/DD/YYYY"/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="dropdown time-picker hide">
                          <button class="btn btn-sm slim" type="button" data-toggle="dropdown" style="width: 100%">
                            <span class="unselected">Time</span>
                          </button>
                          <ul class="dropdown-menu dropdown-side" role="menu">
                            <li role="presentation"><a role="menuitem"></a></li>
                          </ul>
                        </div>
                    </div>
                </div>
                
                <br />
                    
                <div class = "row">
                    <div class="trip-place origin hide col-xs-6" data-direction="origin">
                        <div class="holder place"> </div>
                    </div>
                    <div class="trip-place dest hide col-xs-6" data-direction="dest">
                        <div class="holder place"> </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-block" id="addTrip">
            <i class="icon-plus" aria-hidden="true"></i>&nbsp;
            Add Trip
        </button>
        <br />
        <br />
        
        <div id="tripComponents" class="hide">
                {% for location in locationData %}
                <div class="tripComponent {{ location.key }} locationPlace" data-key="{{ location.key }}">

                    {% if (Object.keys(location.places).length) %}
                    <div class="dropdown" data-replace="{{location.suffix}}">
                      <button class="btn btn-sm" style = "width: 100%;" type="button" data-toggle="dropdown" tabindex="0">
                        <div class="unselected">{% if location.selectLabel %}{{ location.selectLabel }}{% else %}{{ location.label}}{% endif %}</div>
                      </button>
                      <ul class="dropdown-menu dropdown-scroll" role="menu">
                        {% for place in location.places %}
                        <li role="presentation"><a role="menuitem" data-id="{{ place._id.toString() }}" tabindex="0">
                        {% if location.prefix && !place.labelOnly %}{{location.prefix}}&nbsp;{% endif %}{{ place.label }}{% if location.suffix && !place.labelOnly %}&nbsp;{{location.suffix}}{% endif %}
                        </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}

                </div>
                {% endfor %}
                <div class="tripComponentGlobal customData form-inline" data-type="customFlightnum">
                    <br />
                    <div class="form-group">
                        <input name="customFlightnum" type="text" value="" placeholder="Flight Number" class="form-control" />
                    </div>
                </div>
                <div class="tripComponentGlobal customData form-inline" data-type="customAddress">
                        <input name="address" type="text" value="" placeholder="Address" class="form-control" style="width: 100%;"></input>
                        <br />
                        <br />
                        <input name="city" type="text" value="" class="form-control" placeholder="City" style="width: 50%;"
                               data-control="autocomplete"
                               data-controlData="Rockledge,Merritt Island,Cocoa Beach,Satellite Beach,Titusville,Port St John,Melbourne,Viera,Suntree,Kissimmee,Lake Buena Vista,Indian Harbor Beach,Cape Canaveral,Port Canaveral,Orlando"
                               ></input>
                        <input name="state" type="text" value="" maxlength="2" class="form-control" placeholder="State" style="width: 20%;"></input>
                        <input name="zip" type="text" value="" maxlength="5" class="form-control" placeholder="ZIP" style="width: 25%;"></input>
                </div>
            </div>

        </div>

        <div class = "col-md-3-5 col-sm-6" >
            <div class = "widget box">
                <div class = "widget-header">
                    <h5 class="pull-left">Availability</h5>
                </div>
                <div class = "widget-content hide" id="booking-date-preview">
               
                </div>
            </div>
        </div>
        
        <div class = "col-md-3-5 col-sm-6">
            <div class = "widget box relative" id="customerInfo">
                <div class="ribbon-wrapper ribbon-top-left hide" id="cancelled-ribbon">
                    <div class="ribbon red">
                        Cancelled
                    </div>
                </div>
                <div class="ribbon-wrapper ribbon-top-left hide" id="quote-ribbon">
                    <div class="ribbon blue">
                        Quote
                    </div>
                </div>
                <div class = "widget-header">
                    <h5 class="pull-left">Customer Information</h5>
                    <b class="pull-right" id="customCode"></b>
                </div>
                <div class = "widget-content">
                    <form action="#">
                        <div class="form-inline">
                            <div class="form-group width-45">
                                <input name="phone-number[]" class="form-control" placeholder="Mobile" />
                            </div>
                            <div class="form-group width-45 pull-right">
                                <input name="phone-number[]" class="form-control" placeholder="Mobile" />
                            </div> 
                        </div>
                        <br />
                        <div>
                            <div class="form-group">
                                <input name="email" class="form-control input-block-level" placeholder="E-Mail" />
                            </div>
                               
                            <div class="form-group clearfix">
                                <textarea name="special-request" class="input-block-level input-side-button pull-left" placeholder="Special Requests/Comments" rows="1"></textarea>
                                <button class="btn btn-xs side-button"><i class="icon-plus"></i></button>
                            </div>
                            <div class="form-group">
                                <!--<label class="control-label">Full Name:</label>-->
                                <input type="text" name="name" class="form-control input-block-level" placeholder="Full Name">
                            </div>
                        </div>
                        
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="text" name="card-number" class="form-control width-70" placeholder="Card Number" maxlength="19">
                                <input type="text" name="card-expiration" class="form-control" style="width: 29%" maxlength="4" placeholder="MMYY">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="dropdown" id="referral">
                              <button class="btn btn-sm btn-form" style = "margin: 0 auto; display: block; width: 100%;" type="button" data-toggle="dropdown">
                                <span class="unselected">How did you hear about us?</span>
                              </button>
                              <ul class="dropdown-menu dropdown-side col-2" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="0">Google</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="0">Hotel</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="0">Online</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="0">Repeat</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="0">Review</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="0">Travel Agent</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="0">Word of mouth</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="0">Yelp</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="0">Other</a></li>
                              </ul>
                            </div>
                        </div>
                        
                        <div class="form-group clearfix">
                            <textarea name="notes" class="input-block-level input-side-button pull-left" placeholder="Admin Notes" rows="1"></textarea>
                            <button class="btn btn-xs side-button"><i class="icon-plus"></i></button>
                        </div>
                        
                        <button id = "add-reservation-button" class = "btn btn-primary btn-block">Save</button>
                        
                        <div class="email-form clearfix">
                            <br />
                            <div class="form-group">
                                <div class="dropdown" id="emailHeader">
                                  <button class="btn btn-sm btn-form" style = "margin: 0 auto; display: block; width: 100%;" type="button" data-toggle="dropdown">
                                    <span class="unselected">Your Shuttle Reservation</span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="0">Your Shuttle Reservation</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="0">Your Updated Shuttle Reservation</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="0">Your Cancelled Shuttle Reservation</a></li>
                                  </ul>
                                </div>
                            </div>

                            <button id="email-button" class="btn btn-primary btn-block pull-left width-45">Resend E-Mail</button>

                            <a href="create" class="btn btn-block btn-primary pull-right width-45">New</a>
                        </div>
                        
                        <div id="bookingPayments">
                            <hr />
                            <div class="padding-left-5px padding-right-5px">
                                <label class="control-label">Payments</label>
                                <div class='contain'></div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class = "widget box hide" id="cancelBox">
                <div class="widget-content">
                    <button class="btn btn-block btn-danger" id="cancel-button">Cancel Reservation</button>
                </div>
            </div>
        </div>
        
        <br style="clear: both;" />
    </div>
    <!-- /.row -->


    <!-- /Page Content -->
{% endblock %}

{% block javascript %}

<!--<link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery-ui-1.10.2.custom.css" />-->
<script type="text/javascript" src="../smart-js/bookings.js"></script>
<script type="text/javascript" src="../smart-js/prices.js"></script>
<script type="text/javascript" src="../smart-js/jquery.mask.min.js"></script>
<script type="text/javascript" src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="plugins/uniform/jquery.uniform.min.js"></script>
<script type="text/javascript" src="plugins/bootbox/bootbox.min.js"></script>
<script type="text/javascript" src="plugins/noty/jquery.noty.js"></script>
<script type="text/javascript" src="plugins/noty/layouts/inline.js"></script>
<script type="text/javascript" src="plugins/noty/themes/s2.js"></script>
<script type="text/javascript" src="create.js"></script>
{% endblock %}
