<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Smart-Two Admin</title>

    <base href="{{ base + adminPath }}" />
    
    <!--=== CSS ===-->

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- jQuery UI -->
    <!--<link href="plugins/jquery-ui/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />-->
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
    <![endif]-->

    <!-- Theme -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />

    <!--<link href="plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />-->

    <link rel="stylesheet" href="assets/css/fontawesome/font-awesome.min.css">
    <link href="assets/css/plugins/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]>
        <link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css">
    <![endif]-->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>


    <!--=== JavaScript ===-->

    <script type="text/javascript" src="https://parse.com/downloads/javascript/parse-1.3.3.min.js"></script>
    <script type="text/javascript" src="production.js"></script>
    <script type="text/javascript" src="assets/js/libs/jquery-1.10.2.min.js"></script>
    <!--<script type="text/javascript" src="plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>-->

    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/libs/lodash.compat.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="assets/js/libs/html5shiv.js"></script>
    <![endif]-->

    <!-- Smartphone Touch Events -->
    <!--<script type="text/javascript" src="plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="plugins/event.swipe/jquery.event.move.js"></script>
    <script type="text/javascript" src="plugins/event.swipe/jquery.event.swipe.js"></script>
    -->
    <!-- General -->
    <script type="text/javascript" src="assets/js/libs/breakpoints.js"></script>
    <!--<script type="text/javascript" src="plugins/respond/respond.min.js"></script>-->
    <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
    <script type="text/javascript" src="plugins/cookie/jquery.cookie.min.js"></script>
    <!--<script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
    -->
    <!-- App -->
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/plugins.js"></script>
    <script type="text/javascript" src="assets/js/plugins.form-components.js"></script>
    <!--<script type="text/javascript" src="plugins/nestable/jquery.nestable.js"></script>-->
    <script type="text/javascript" src="plugins/fullcalendar/moment.min.js"></script>
    <script type="text/javascript" src="plugins/fullcalendar/moment-timezone.js"></script>
    <script type="text/javascript" src="plugins/smoothscroll/jquery.smooth-scroll.min.js"></script>
    {% block top_javascript %} {% endblock %}
    <script type="text/javascript">
    $(document).ready(function() {
        "use strict";

        App.init(); // Init layout and core plugins
        Plugins.init(); // Init all plugins
        FormComponents.init(); // Init all form-specific plugins
    });
    </script>
</head>

<body>

    <!-- Header -->
    <header class="header navbar navbar-fixed-top" role="banner">
        <!-- Top Navigation Bar -->
        <div class="container">

            <!-- Only visible on smartphones, menu toggle -->
            <ul class="nav navbar-nav">
                <li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a>
                </li>
            </ul>

            <!-- Logo -->
            <a class="navbar-brand" href="">
                Welcome to Buckets
            </a>
            <!-- /logo -->

            <!-- Top Left Menu -->
            <ul class="nav navbar-nav navbar-left hidden-xs">
                <li><a href="create" {% if (page && page == 'create') %}class="selected"{% endif %}>Get</a></li>
                <li><a href="view" {% if (page && page == 'view') %}class="selected"{% endif %}>View</a></li>
            </ul>
            <!-- /Top Left Menu -->

            <!-- Top Right Menu -->
            <ul class="nav navbar-nav navbar-right">
                <!-- User Login Dropdown -->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-male"></i>
                        <span class="username">Admin</span>
                        <i class="icon-caret-down small"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="schedule"><i class="icon-calendar"></i> Schedule</a></li>
                        <li><a href="sellout"><i class="icon-tag"></i> Sell Out</a></li>
                        <li><a href="login" id="logout"><i class="icon-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- /user login dropdown -->
            </ul>
            <!-- /Top Right Menu -->
        </div>
        <!-- /top navigation bar -->
    </header>
    <!-- /.header -->

    <div id="container" class="sidebar-closed">

        <div id="content">
            <div class="container">

                {% block content %} {% endblock %}

            </div>
            <!-- /.container -->

        </div>
    </div>

    <script src="assets/js/bootstrap-datepicker.js"></script>
    <script src="../smart-js/jquery-dateFormat.min.js"></script>
    {% block javascript %} {% endblock %}
</body>

</html>
