{% extends "./layout.html" %}

{% block content %}
<!--=== Page Header
<div class="page-header">
    <div class="page-title">
        <h3>Let's Get Buckets</h3>
    </div>
</div>
<!-- /Page Header -->

<!--=== Page Content ===-->
<div class="row" ng-app="schedule">
    <div class = "col-md-12" id="dayCtrl" ng-controller="dayCtrl">
        <fieldset ng-disabled="isLoading" ng-class="{ 'form-loading' : isLoading }">
            <div class="row">
                <div class="col-md-6">
                    <button class="makePdf btn btn-sm">Generate PDF</button>
                    <a class="btn btn-sm" ng-href="/{% raw %}{{ downloadLink }}{% endraw %}" ng-show="downloadLink" target="_blank">Download PDF</a>
                </div>
                <div class="col-md-6">
                    <div class="form-inline pull-right">
                        <input class="form-control input-width-medium" data-provide="datepicker" data-date-autoclose="true" name="dateStart"
                               ng-model="dateStart" data-date-format="m/d/yyyy" />
                        -
                        <input class="form-control input-width-medium" data-provide="datepicker" data-date-autoclose="true" name="dateEnd"
                               ng-model="dateEnd" data-date-format="m/d/yyyy" />
                    </div>
                </div>
            </div>
            <br />
            <div id="schedulePdfHolder">
                <table id="scheduleTable" class="table cell-border compact stripe table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 90px;">Nav</th>
                            <th style="width: 90px;">Time</th>
                            <th style="width: 125px;">Name</th>
                            <th style="width: 15px;">#</th>
                            <th style="width: 180px;">From</th>
                            <th style="width: 90px;">To</th>
                            <th style="width: 90px;">Cell</th>
                            <th style="width: 150px;">SR/Com</th>
                        </tr>
                    </thead>
                    <tbody schedule-day="" ng-repeat="(day, trips) in tripsByDay">
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>

</div>

<!-- /Page Content -->
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="../smart-js/bookings.js"></script>
<script type="text/javascript" src="assets/js/schedule/schedule.js"></script>
{% endblock %}

{% block top_javascript %}
<script type="text/javascript" src="../smart-js/js.cookie.min.js"></script>
<script type="text/javascript" src="plugins/angular/angular.min.js"></script>
<script type="text/javascript" src="plugins/angular/angular-sanitize.min.js"></script>
<script type="text/javascript" src="plugins/select2/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="plugins/select2/select2.css" />
{% endblock %}