{% extends "./layout.html" %}

{% block content %}
    <!--=== Page Content ===-->                
    <!--row-->
    <div class = "row" ng-app="sellout" ng-controller="selloutCtrl">
        <div class = "col-md-8">
            <div class = "widget box">
                <div class = "widget-content">         
                    <sellout-calendar></sellout-calendar>
                </div>
            </div>
        </div>   
        <div class="col-md-4">{% raw %}
            <div id="sell-out" sellout-form ng-show="isDateSelected()">                            
                <div class = "widget box">
                    <div class = "widget-content form-horizontal">         
                        <div id="date" >{{ dateFormatted() }}</div>
                        <br />
                        <table id="soldOutTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td>Start</td>
                                    <td>End</td>
                                    <td>Seats Available</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(id, entry) in dateEntries">
                                    <td style="width: 25%">{{ entry.start.format('H:mmA') }}</td>
                                    <td style="width: 25%">{{ entry.end ? entry.end.format('H:mmA') : '' }}</td>
                                    <td style="width: 25%">{{ entry.seats }}</td>
                                    <td style="width: 15%" class="text-center"><button ng-click="edit(id)" class="btn btn-sm"><i class="icon-pencil"></i></button></td>
                                    <td style="width: 15%" class="text-center"><button ng-click="del(id)" class="btn btn-sm btn-danger"><i class="icon-remove"></i></button></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <div class="dropdown timeSelect" id="startTime">
                                            <button class="btn btn-sm full-width-fix slim" type="button" data-toggle="dropdown">                                            
                                                {{ selectedStartTime | empty_text : 'Time' }}
                                            </button>
                                            <ul class="dropdown-menu dropdown-scroll" role="menu">                                          
                                                <li ng-repeat="time in times">
                                                    <a data-time="{{ time }}" ng-click="setTime(time, 'start')">{{ time }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown timeSelect" id="endTime">
                                            <button class="btn btn-sm full-width-fix slim" type="button" data-toggle="dropdown">                                            
                                                {{ selectedEndTime | empty_text : 'Time' }}
                                            </button>
                                            <ul class="dropdown-menu dropdown-scroll" role="menu">   
                                                <li><a ng-click="setTime(null, 'end')"><i>None</i></a></li>
                                                <li ng-repeat="time in times">
                                                    <a data-time="{{ time }}" ng-click="setTime(time, 'end')">{{ time }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown"> 
                                            <button class="btn btn-sm full-width-fix slim" type="button" data-toggle="dropdown" tabindex="0">
                                             {{ selectedSeats | empty_text : 'Seats' }}
                                            </button>
                                            <ul class="dropdown-menu dropdown-scroll trip-traveler-amount" role="menu" data-replace="People">
                                              {% endraw %}{% for i in Array(33) %}
                                              <li><a ng-click="setSeats({{ loop.index0 }})" tabindex="0"> {{ loop.index0 }}</a></li>
                                              {% endfor %}{% raw %}
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-success full-width-fix slim" ng-click="save()">
                                            <i class="icon-save"></i>
                                        </button>
                                    </td> 
                                    <td>
                                        <button class="btn btn-sm full-width-fix slim" ng-click="resetEntry()">
                                            <i class="icon-remove"></i>
                                        </button>
                                    </td> 
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
      
           

        {% endraw %}</div>                 
    </div>
{% endblock %}

{% block javascript %}
<link href="plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="plugins/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="plugins/angular/angular.min.js"></script>

<script type="text/javascript" src="../smart-js/bookings.js"></script>
<script type="text/javascript" src="assets/js/dateFormatter.js"></script>
<script type="text/javascript" src="sellout.js"></script>
{% endblock %}
