{% extends "./layout.html" %}

{% block content %}
<!--=== Page Header
<div class="page-header">
    <div class="page-title">
        <h3>Let's Get Buckets</h3>
    </div>
</div>
<!-- /Page Header -->

<!--=== Page Content ===-->
<div class="row">
    <div class = "col-md-12">
        <table id="bookingTable" cellpadding="0" cellspacing="0" border="0" class="table dataTable cell-border compact stripe" data-horizontal-width="150%">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 110px;">Date</th>
                    <th style="width: 120px;">Name</th>
                    <th style="width: 15px;">#</th>
                    <th style="width: 125px;">Travel Type</th>
                    <th style="width: 180px;">Comments</th>
                    <th style="width: 90px;">Phone</th>
                    <th style="width: 100px;">Email</th>
                    <th style="width: 50px;">Conf #</th>
                    <th style="width: 120px;">Created</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </div>

</div>
<div class = "row">
    <br />
</div>

<div class = "row" >
    <div class = "col-md-10">
        <div id = "calendar"></div>
    </div>
</div>

<!-- /Page Content -->
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="../smart-js/bookings.js"></script>
<script type="text/javascript" src="view.js"></script>
{% endblock %}

{% block top_javascript %}
<link rel="stylesheet" href="plugins/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="plugins/datatables/scroller.dataTables.min.css">
<script type="text/javascript" src="plugins/datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="plugins/datatables/dataTables.scroller.min.js"></script>
{% endblock %}