<li class="sch_day_staff" ng-repeat="staffer in staffSchedule[day]" ng-controller="driverCtrl">
    <button class="btn btn-sm" ng-click="delStaffDay(day, $index)"><i class="icon-minus"></i></button>
    <select class="input-width-small form-control help-inline" data-placeholder="Driver" ng-model="staffer.name" ng-options="name for name in staff.staff">
    </select>
    <input name="start" maxlength="8" class="input-width-mini2 form-control help-inline" ng-model="staffer.start" />
    -
    <input name="end" maxlength="8" class="input-width-mini2 form-control help-inline" ng-model="staffer.end" />
</li>
<li>
    <button class="btn btn-sm" ng-click="addStaffDay(day)"><i class="icon-plus"></i></button>
    <button class="btn btn-sm" ng-click="saveStaffDay(day)"><i class="icon-save"></i></button>
</li>