<td class="sch_day_drivers">
    <schedule-drivers></schedule-drivers>
</td>
<td>
    {{ trip.getTime() }}
    <a ng-href="create/{{ trip.parent.data.confirmationCode }}" class="pull-right pdf-remove"><i class="icon-pencil"></i></a>
</td>
<td>
    {{ trip.parent.data.name }}
    <div class="text-center text-red text-small" ng-show="txtPostName.length" ng-bind="txtPostName"></div>
</td>
<td>{{ trip.getNum() }}</td>
<td>
    <div ng-bind-html="trip.getPlaceString('origin')"></div>
    <div class="text-center text-small" ng-bind-html="trip.getPlaceInternals('origin', 'airline_side') | join_br"></div>
</td>
<td>
    <div ng-bind-html="trip.getPlaceString('dest')"></div>
    <div class="text-center text-small" ng-bind-html="trip.getPlaceInternals('dest', 'airline_side') | join_br"></div>
</td>
<td class="text-small" ng-bind-html="trip.parent.getPhoneNumber() | join_phone"></td>
<td class="strip-padding">
    <textarea class="full-width-fix" rows="3"
              ng-model="trip.data.scheduleNotes"
              ng-model-options="{ updateOn: 'change' }"
              ng-change="saveScheduleNotes()"></textarea>
</td>