<tr class="sch_day_header">
    <td>{{ day | date : 'EEE' : '-0500' }}</td>
    <td>{{ day | date : 'MMM' : '-0500' }}</td>
    <td>{{ day | date : 'd' : '-0500' }}{{ day | day_suffix }}</td>
    <td colspan="5"></td>
</tr>
<tr class="sch_day_header_staff">
    <td colspan="10">
        <ul class="list-unstyled list-inline list-marginless day-staff" schedule-day-staff ng-form="form"></ul>
    </td>
</tr>
<tr ng-repeat="trip in trips" schedule-trip="" class="sch_day_trip"></tr>