<select class="hide" multiple data-placeholder="Driver"
        ng-model="trip.data.drivers"
        ng-change="saveDrivers()"
        ng-options="name for name in staff.drivers">
</select>
<div class="input-group">
    <textarea class="input-width-medium input-side-button" rows="1"
           ng-model="trip.data.driverNotes"
           ng-model-options="{ updateOn: 'change' }"
           ng-change="saveDrivers()"/></textarea>
    <button class="btn btn-xs side-button"><i class="icon-plus"></i></button>
</div>