* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding-left: 10px;
}
ul li {
    padding-bottom: 1em;
    margin-left: 0;
}
ul li:last-child {
    padding-bottom: 0;
}

#smartEmailWrapper {
    color: #777;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
#logo {
    text-align: center;
}
#logo img {
    width: 120px;
    border-radius: 5px;
}
.logoSub {
    font-size: 22px;
    text-align: center;
    margin: 1.5em 0 1.5em;
}
.checkSub {
    text-align: center;
    padding: 0.75em 20%;
    background-color: #EEE;
}

.titleHeader {
    margin-top: 1.5em;
    padding: 0 0 0.25em 10px;
    color: #66AAE0;
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
}

.instrBlock {
    margin: 2em 0;
    border: 1px solid #CCC;
    border-radius: 22px;
    padding: 1em 0.75em;
}
.instrBlockHeader{
    margin: 0 0 1.5em;
    font-size: 22px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .checkSub {
        padding: 0.75em 8%;
    }
}

.tiny {
    margin-top: 10px;
    color: #999;
    font-size: 16px !important;
}