ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
table {
    font-family: Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border-right: 1px solid #000;
}
thead {
    font-weight: bold;
    display: table-row-group;
}
thead tr th {
    background-color: #4DA1F7;
}
.sch_day_trip td:nth-child(1) { width: 8%; }
.sch_day_trip td:nth-child(2) { width: 10%; }
.sch_day_trip td:nth-child(3) { width: 15%; }
.sch_day_trip td:nth-child(4) { width: 4%; }
.sch_day_trip td:nth-child(5) { width: 12%; }
.sch_day_trip td:nth-child(6) { width: 12%; }
.sch_day_trip td:nth-child(7) { width: 14%; }
.sch_day_trip td:nth-child(8) { width: 15%; }

thead th {
    padding: 8px 5px;
    border: 1px solid #111;
}
td {
    padding: 5px;
    border: 1px solid #111;
}
tr {
    page-break-inside: avoid;
}
tr:nth-child(even) {
    background-color: #EEE;
}
.text-center {
    text-align: center;
}
.text-small {
    font-size: 18px;
}
.text-red {
    color: #F00;
}
.tel {
    display: inline-block;
    margin: 5px auto;
}
.list-inline li {
    display: inline-block;
    margin-left: 1em;
}
.sch_day_drivers {
    text-transform: uppercase;
}
tr.sch_day_header {
    background-color: #000;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    page-break-inside: avoid;
}
tr.sch_day_header_staff {
    font-size: 22px;
    background-color: #888;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold; 
    page-break-inside: avoid;
}
tr.sch_day_trip {
    border-bottom: 10px solid #3D81C7; 
}