/*
 Table of Contents
   ==================================================
   
    # -- Different Width
	# -- Different Height of .mid-content

   ==================================================
*/

/* # -- Different Width
================================================== */

/*Smart Phones Landscape*/
@media all and (max-width: 415px), all and (max-device-width: 415px) and (orientation: landscape) {

	.video {
		height: 100%;
	}

	.video iframe {
		height: 250px !important;
	}

	#slides-wrapper {
		height: 300px;
	}

	.headerMessage {
		margin-top: 15px !important;
		font-size: 22px !important;
	}

	/*This is the phone number on the top of all screens.  We add this class only if it's mobile*/

	.headerPhone {
		display: inline-block;
		text-align: right;
		margin-top: 30px !important;
		float: right;
		margin-right: 5%;
	}

	.headerPhoneSeeDeals {
		display: inline-block;
		text-align: right;
		margin-top: 30px !important;
		float: right;
		margin-right: 5%;
	}

	.sitemap__popup__footer {
		margin-top: -120px !important;
	}
}

@media all and (max-width: 415px), all and (max-device-width: 415px) and (orientation: portrait) {

	.headerMessage {
		margin-top: 0px !important;
		font-size: 16px !important;
	}

	#phoneNumber {
		font-size: 15px;
	}

	.headerPhone {
		display: inline-block;
		text-align: right;
		margin-top: -28px !important;
		margin-left: 200px ;
		float:left;
		margin-right: 0px;
	}

	.headerPhoneSeeDeals {
		display: inline-block;
		text-align: right;
		margin-top: -28px !important;
		margin-left: 198px ;
		float:left;
	}

	.sitemap__popup__footer {
		margin-top: 0px !important;
		float: left;
		margin-left: 15px !important;
	}

	.seedeals-dropdown-traveltype {
		margin-left: 0px !important;
	}
}

/*Smart Phones*/
@media all and (max-width: 415px), all and (max-device-width: 415px) {

	.seedeals-cruiseline-dropdown {
		margin-left: 0px !important;
	}

	input[type = "text"],
	  input[type = "number"],
	  input[type = "phone-number"],
	  input[type = "email"],
	  textarea[type = "text"],
	  textarea {
	    font-size: 16px;
	 }

	.dropdown-menu {
		width: 100%;
	}

	.seedeals-dropdown-traveltype {
		margin-left: 0px !important;
	}

	#cruiseline-dropdown-seedeals {
		margin-left: 0px !important;		
	}

	.dropdown-menu > li > a {
		white-space: pre-wrap;
	}

	.popup__wrapper {
		width: 100% !important;
		margin-left: 0px;
	}

	#isPhone {
		display: block;
	}

	.questions_main_content {
		width: 95%;
	}

	.full_page_main_content {
		width: 95%;
		margin-left: 20px;
		text-align: justify;
	}

	.full_page_main_content {
		width: 95%;
		margin-left: 20px;
		text-align: justify;
	}

	.content-paragraph {
		margin-top: 320px !important;
	}

	#slides-wrapper {
		margin-top: -25px !important;
	}

	.phone {
		margin-top: 48px !important;
		margin-right: 3px !important;
		margin-left: 0px !important;
	}

	#reservationBar #title h3 {
		width: 100%;
		margin-left: 0px !important;
		float: left;
		text-align: center;
	}


	#smart-button {
		margin: left 100px !important;
	}

	#confirmation-number {
		width: 100% !important;
		margin-left: 0px !important;

	}

	.full-body {
		background-size: 800px 700px;
		min-height: 700px;
	}

	.customerinfo-full-body {
		min-height: 1230px;
	}

	.confirmation-full-body {
		min-height: 900px;
	}

	#main-close-window {
		margin-top: 20px;
	}

	#social-network {
		
	}

	#prices-pdf {
		margin-left: 10px;
		margin-top: 50px;
	}

	#pdf {
		height: 700px;
		width: 600px;
	}
	.graybar-line {
		margin-left: 155px;
	}

	.graybar-subline {
		margin-left: 457px;
	}

	.headerLogo img {
		width: 110px;
	}


	ul.slides {
		width: 100%;
		height: 100%;
		margin-left: 100px;
	}

	ul.slides img {
		width: 100%;
		height: 100%;
	}

	.socialNetworks {
		margin-left: 80px !important;
		width: 100% !important;
	}

	.socialNetworks img {
		width: 40px;
		height: 40px;
	}

	#slides-wrapper {
		width: 100%;
		margin-top: -75px;
		height: 205px;
	}

	.slides {
		margin-left: 0px !important;
	}

	.slidesDescription
	{
		margin-left: 5px !important;
	}

	.main {
		max-width: 100% !important;
		min-width: 100% !important;
		width: 100% !important;
		padding-left: 0px;
		padding-right: 0px;
	}

	.headerMessage {
		margin-left: 0px;
		margin-right: 0px;
	}

	html, body {
		max-width: 100% !important;
		min-width: 100% !important;
	}
	
	.seeDealsTable {
		width: 98.5% !important;
		margin-top: 0px !important;
	}

	#seeDealsTable-wrapper {
		width: 100% !important;
		margin-top: 5px !important;
		margin-left: 0 !important;
	}

	.navigation-bar .btn
	{
		min-width: 20px;
		font-size: .9em;
		width: 22.5%;
		padding: 0.5em 0;
		height: auto;
	}

	#seedeals-image-row
	{
		padding: 0 !important;
	}

	.reservationWrapper {
		width: 100% !important;
	}

	.main-page-reservation-wrapper {
		width: 100% !important;
	}

	.seedeals-reservationBar {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	#reservationBar {
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
		border-radius: 0px;
	}

	.nav-button {
		min-width: 20px !important;
	}

	#button__airport {
		font-size: .6em;
	}

	#button__cruises {
		font-size: .6em;
	}

	.video {
		width: 94.7% !important;
		margin-top: 5px;

	}

	.video iframe {
		width: 100%;
		height: 100%;
	}

	.socialNetworks {
		margin-left: -3px !important;
	}

	.socialNetworks img {
		width: 32px;
		height: 32px;
	}

	.content-paragraph {
		margin-left: -20px !important;
		width: 100% !important;
	}

	#clear-bg-button {
		margin-left: -36px !important;
	}

}
/* Table Devices Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.seeDealsTable {
		/*width: 800px !important;*/
	}

	#seeDealsTable-wrapper {
		/*width: 560px !important;*/
	}

	.seedeals-reservationBar {
		margin-left: 29% !important;
	}

	.phone {
		margin-right: 4.8%;
	}

	.main-phone {
		margin-right: 1.8% !important;
	}



}

/*Tablet Devices*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.full-body {
		background-size: 850px 700px;
		min-height: 700px;
		
	}

	.headerLogo img {
		width: 100px;
	}

	html, body {
		min-width: 768px;
	}

	.main {
		min-width: 768px;
	}

	#social-network {
		
	}

	#main-close-window {
		margin-top: 80px;
	}

	#prices-pdf {
		margin-left: 9%;
		margin-top: 15%;
	}

	#pdf {
		height: 700px;
		width: 700px;
	}
	.graybar-line {
		margin-left: 285px;
	}

	.graybar-subline {
		margin-left: 587px;
	}
	
	ul.slides {
		width: 425px;
		height: 250px;
		margin-left: 100px;
	}

	ul.slides img {
		width: 425px;
		height: 250px;
	}

	.content-paragraph-container {
		margin: 325px 0 0 265px;
	}

	.content-paragraph {
		width: 455px;
	}

	.socialNetworks {
		margin-left: 107px !important;
		width: 100% !important;
	}

	#clear-bg-button {
		margin-left: 23px;
	}

	.seeDealsTable {
		margin-left: 10px;
		width: 100%;
	}

	.seedeals-reservationBar {
		margin-left: 0% !important	;
	}

	.socialNetworks img {
		width: 40px;
		height: 40px;
	}
	.slidesDescription{
		margin-left: 100px;
	}

	.specials-image {

	}

	.video iframe {
		width: 275px;
		height: 175px;
	}

	#headerBar {
		width: 774px;
	}

	.headerMessage {
		margin-left: 73px;
	}

	#phone {
		margin: 0 0 0 50px;
		display: inline;
		float: left;
	}

	.phone {
		margin-right: 79px !important;
	}
}

/*@media all and (max-width: 415),
	all and (max-device-width: 415) {
		.container-fluid {
		margin-left: 0;
		margin-right: 0;
	}
}