/* Table of Contents
   ==================================================

	# -- Main
	# -- Screens
	# -- Header (LOGO & DESCR)
	# -- Navigation
	# -- Countdown
	# -- Team
	# -- About Us
	# -- Follow
	# -- Feedback
	# -- Footer

   ==================================================
*/


/* # -- MAIN STYLES OF THEME
================================================== */
html, 
body {
	font: 400 1em  Arial, Helvetica, sans-serif;	
	min-width: 1200px;
	height: 810px;
}

#isPhone {
	display: none;
}

#airline-dropdown {
	overflow: scroll;
	height: 275px;
}

#bottom-text {
	text-align: justify;
	font-size: .90em;
}

#hotels-dropdown {
	overflow: scroll;
	height: 180px;
}

#cruiseline-dropdown {
	overflow: scroll;
	height: 180px;	
}

#cruiseline-dropdown-seedeals {
	margin-left: -266px;
}
#cruiseline-airport-dropdown {
	overflow: scroll;
	height: 180px;
}
.btn {
	font-size: 14px;
	text-align: left;
	height: 36px;
	border-radius: 0;
}

.btn .caret {
	position: absolute;
	right: 10px;
	top: 14px;
	border-top: 6px solid;

}

#clear-bg-button {

	background: none;
	border: none;

}

.content-paragraph-container {
	margin: 30px 0 0 40px;
}

.content-paragraph {
	margin: 30px 0 0 40px;
	color: #656565;
	font-size: 16px;
	line-height: 150%;
	/*height: 140px;*/
	overflow: hidden;
	text-align: justify;
	width: 673px;
}

#dim {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1 !important;
	background-color: black;
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;

}

#loading {
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
}

.dropdown {
	width: 91%;
	display: inline-block;
}
.dropdown button {
    overflow: hidden;
}

.finished {
	display: inline-block;
}

.main {
	max-width: 950px;
	/*min-width: 950px;*/
	background-color: white;

	margin-right: auto !important;
	margin-left: auto  !important;

	overflow: hidden;
}

span.input-group-addon {
	font-size: 1.5em;
	padding: 4px 4px 4px 4px;
}

.check-mark {
	margin-top: -25px !important;
}

.input-group {
	width: 91%;
	display: inline-table;
}

.input-group img {
	position: fixed;
	margin-top: -22px;
	margin-left: 5px;
}

.reservationWrapper {
	width: 35%;
}

#reservationBar.contact-page {
	background-color: #7da8dd;
	height: 450px;
	font-size: 1.2em;
}

#reservationBar.about-us-page {
	background-color: #7ed1ff;
	height: 450px;
	font-size: 1.1em;
	text-align: justify;
	word-wrap: break-word;
	width: 245px;
	margin-left: 4%;
}

#reservationBar.about-us-page hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

#reservationBar.contact-us-page {
	background-color: #7ed1ff;
	font: 'Arial' Arial;
	margin-top: -30%;
}

#reservationBar.confirmation {
	background-color: #7ed1ff;
	height: 425px;
}

#reservationBar.privacy-policy {
	background-color: #ff6557;
	height: 440px;
	overflow: scroll;
	margin-top: -20%;
	margin-left: 9%;
	border-radius: 9px;
}

#reservationBar.questions {
	height: 520px;
	background-color: #7ed1ff;
	font-size: 18px;
}

#specials-image {
	background-image: url("../smart-images/specials-thinner.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 50px;
	width: 125px;
}

#specials-image p {
	color: white;
	padding-top: 8px;
	font-size: 1.1em;
}

.unselected {
	color: gray;
}

.form-control[readonly]
{
	cursor: pointer;
	background-color: white;
}

#dropdown-button-questions, .nav-button {
	background-color: #01479a;
	border: none;
	font-size: 1.1em;
	color: #ffffff;
	margin-left: 0;
	border-radius: 0 !important;
	min-width: 100px;
	text-align: center;
	margin-right: 3%;
}

@media(min-width:800px){
	#dropdown-button-questions, .nav-button {
		margin-right: 0;
		min-width: 130px;
	}
}

.nav-button:hover{
	color: #fff;
	text-decoration: underline;
}

#dropdown-button-questions .caret {
	position: absolute;
	right: 5px;
	top: 5px;	
}

.dropdown-questions {
	display: inline;
}

#reservationBar
{
	background-color: #7da8dd;
	height: 100%;
	font-family: 'Arial Rounded MT', Arial;
	font-weight: 500;
	font-size: 1em;
	padding: 10px;
	color: #ffffff;
	min-width: 220px;
	width: 240px;
	margin-bottom: 20%;
	margin-left: 10%;
	margin-top: 20px;
	border-radius: 9px;
}

#largeImgPanel {
	text-align: center;
	visibility: hidden;
	position: fixed;
	z-index: 100;
	top: 0; left: 0; width: 100%; height: 100%;
	background-color: rgba(100,100,100, 0.5);
}

#questions {
	height: 67%;
	width: 100%;
	text-align: justify;
}

#questions a {
	color: white;
	font-size: .8em;
}


#questions h2 {
	font-size: 1em;
}

.reservationBar.subtitle {
	font-size: 24px;
}


#questions h2.subtitle {
	font-size: 1.1em;
	margin-top: 0px;
}

#reservationBar p {
	font-size: 1em;
}

.make-reservation {
	/*margin-top: 5%;*/
}

.make-reservation.get-quote {
	/*margin-left: 100px;*/
}

.make-reservation a {
	color: white;
}

.make-reservation input {
	font-size: 14px !important;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background:rgba(0,0,0,0.5);
	z-index: 4;
}

#fast-rates {
	color: white;
	margin: 10px 0 0 25px;
	margin-top: 1%;
	margin-bottom: 0%;
	padding: 0px;
	background-color: #0fd108;
	border-radius: 4px;
	width: 110px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

.main-close-window {
	margin-top: 5px;
	position: relative;
	width: 100%;
	color: white;
	cursor: pointer;
	text-align: right;
}

.prices-pdf {
	opacity: 1;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2%;
}

#pdf, .html__popup {
	height: 700px;
	width: 100%;
}

body.popup {
	width: 100%;
}
.popup__wrapper {
	width: ;
}

#reservationBar h3
{
	font-size: 2.0em;
	margin-top: 2px;
}

#reservationBar #title {
	text-align: center;
}

#reservationBar #title h3 {
	font-size: 24px
}

#reservationBar h5 {
	font-size: 14px;
	font-weight: 300;
}

#reservationBar h4 {

	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1em;
}

select {
	-webkit-appearance: select;
	font-family: sans-serif;
	width: 100%;
}

#contact-info #error {
	font-size: 12px;
	color: red;
}

.error {
  /* supply height to ensure consistent positioning for every browser */
  background-color:#fcbe2d;
  border:1px solid #E1E16D;
  font-size:14px;
  color:#000;
  padding:3px 10px;
  margin-left:-2px;
  z-index: 10;

  /* CSS3 spicing for mozilla and webkit */
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-topleft:0;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-top-left-radius:0;
 
  -moz-box-shadow:0 0 6px #ddd;
  -webkit-box-shadow:0 0 6px #ddd;
}

.form-control {
	font-size: 14px;
	width: 90%;
	display: inline;
	border-radius: 0;
}

.divider{
    height: 15px;    
    width: 2px;
    display: inline;
    
}

.info .instructions {
	font-size: 18px;
	margin-top: 10px;
}

.info.flight {
	font-size: .85em;
}

.info.cruise {
	font-size: .85em;
}
#placer-image {
	margin-left: -77.9%;
	display: inline;
}

#price span {
	color: #01479a;
}

#price p {
	color: #01479a !important;
}

.navigation-bar {
	margin-left: 5%;
	margin-top: 1%;
}

.current-page-about {
	color: #0077ff !important;
}

.current-page-questions {
	color: #00e1db !important;
}

.current-page-home {
	color:  #7ed1ff !important;
}

.current-page-contact {
	color: gray !important;
}

.navigation-bar a {
	/*margin-left: 1%;*/
	color: #ffffff;
	font-size: 1.1em;
	font: 'Arial' Arial;
}

.navigation-bar a:hover{
	color:#fff;
}

.navigation-bar .btn{
	vertical-align: top;
}

#social-network {
	/*margin-right: 4%;*/
	padding: 0;
	position: relative;
	vertical-align: top;
}

.video {
	display:inline-block;
	vertical-align: top;
	/*margin-left: 22%;*/
	text-align: right;
}
.video img {
	width: 40px;
	height: 40px;
}

.video img:not(:last-child) {
	margin-right:20px;
}

.video iframe {
	width: 350px;
	height: 200px;
}

.header-section {
	text-align: right;
	position: relative;
	/*height: 50px;*/
	margin: 0 -15px;
	/*background-color: #efedf0; */

}

#phoneNumber {
	/*margin: 10px auto 45px; */
	color: #fff !important; 
	font-weight: bold;
	background-color: #888888;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 5px;
	font-size: 20px;
	text-align: center;
}

.phone {
	display: inline-block;
	text-align: right;
	margin-top: 25px !important;
	margin-left: 20%;
	float:right;
	/*margin-right: 45px !important;*/
}

@media(min-width: 800px){
	.phone {
		margin: 0 2% 0 0;
	}
}
@media(max-width: 800px){
	.video {
		margin-left: 1px;
		display:inline-block;
	}

	.video iframe {
		width: 230px;
		height: 150px;
	}

	#social-network {
		margin-right: 15%;
	}

	.phone {
		display: block;
		margin-left:0;
		margin-right: 10%;
		color: #fff;
	}

	.nav-button{
		margin-right:0;
	}

	.tagline img {
		width: 400px;
	}

}

@media(max-width: 600px){
	.video {
		width: 185px;
	}

	.video img {
		width: 30px;
		height: 30px;
	}

	.video iframe {
		width: 185px;
		height: 150px;
	}

	#social-network {
		margin-right: 1%;
	}
	
	.phone {
		margin-right: 3%;
	}
	.tagline img {
		width: 320px;
	}
}

}




#navLogo{
	vertical-align: bottom;
}



/*.header-section #logo {
	margin-left: 29%;
	margin-top: 10px;
	background-color: #efedf0
}

.header-section #logo img {
	background-color: transparent;
	width: 50%;
	display:none;
}

.header-section #logo p {
	font-family: "Calibri" ;
	font-size: 1.5em;
}*/

.sun img {
	width: 35%;
	height: 50%;
}

.sun {
	margin-top: -63%;
	margin-left: -8%;
}


.shuttle {
	margin-top: -48%;
	margin-left: -48%; 
}

.shuttle img {
	z-index: -1;
	width: 122%;
	height: 100%;
}

.plane img {
	width: 80%;
	height: 80%;
}

.boat {
	margin-top: 30%;
	margin-left: 40%;
}

.plane {
	margin-top: 0%;
	margin-left: 15%;
}

.boat img {
	width: 100%;
}

.tagline {
	color: #0052b0;
	/*margin-left: 14%;
	margin-top: 11%;*/
}

.tagline img {
	
}

.full-body {
	/*background-image: url('/smart-images/HiRes.jpg');*/
	background-position: 0px 0px;
	background-size: 1000px 700px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/smart-images/HiRes.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/smart-images/HiRes.jpg',sizingMethod='scale')";
	background-repeat: no-repeat;
	/*background-color: #f0f6ff;*/
	min-height : 720px;
	/*margin-top: 80px;*/
	
}

.info {
	margin-top: 10px;
}

.info input {
	color: black;
}

.info div {
	margin-top: 5px;
}

.cruise {
	margin-top:10px;
}

#reservationTypes
{
	margin-top: 10px;
	font-size: 1em;
	font-weight: 400;
}

.header { 
	padding-left: 0px;
	padding-right: 0px;
	/*border-left: 1px solid #f5f6f7;
	border-right: 1px solid #f5f6f7;*/
}

#headerBar
{
	background-color: transparent;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-top:11px;
	font-family: 'Calibri Light', Calibri, Helvetica, sans-serif;
}

#headerBar span
{
	font-size: 1em;
	color: #555555;
}

.headerLogo{
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}
.headerLogo img {
	width: 130px;
}

.headerMessage {
	display: inline-block;
	vertical-align: top;
	font-family: Arial, sans-serif;
	margin-left: 30px;
}

@media(min-width: 900px){
	.headerMessage {
		margin-left: 170px;
	}
}

#button__cruises, #button__airport {
	color: rgb(101, 96, 94); 
	background-color: #ffffff !important; 
	padding: 0; 
	font-size: 1em; 
	margin: 0;
	cursor: pointer;
}

#button__cruises hr, #button__airport hr {
	height: 7px; 
	margin: 10px 0; 
	padding: 0; 
	border:none!important; 
	border-radius: 25px;
}

#enjoy
{
	color: #7ca8de;
	margin-left: 5px;
}

#relax
{
	color: #ffd300;
}

#ride
{
	color: #de5249;
}

hr.top {
	margin-top: 10px;	
	margin-bottom: 0px;
	border-color: gray;
}

hr.bottom {
	margin-top: 0px;
	margin-bottom: 10px;
}

.graybar-line {
	margin-left: 600px;
	font-family: 'Arial', Arial;
	color: white;
}

.graybar-subline {
	color: white;
	margin-left: 752px;
}



#price-tagline {
	margin-top: 20px;
}

#price-tagline span {
	color: #01479a !important;
}

#price {
	margin-top: 10px;
	font-size: 1.2em;
}

#price p {
	margin-top: 5px;
	font-size: .6em;
	color: yellow;
}

#reservation-type {
	margin-top: 5%;
}

.privacy-line {
	text-align: center;
}

#smart-button {
	width: 100%;
	background-color: #01479a;
	font-size: 1em;
	padding: 15px 20px;
	border-radius: 0;
	border-width: 0px;
	color: #ffffff;
}

#social-network img {
	height: 40px;
	width: 40px;
	margin: 0 !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a
{
	background-color: #c8eafd;
}

.dropdown-menu {
	margin: 0;
	border: none;
	border-radius: 0;
	min-width: 200px;
}

.seedeals-dropdown-traveltype {
	margin-left: -450px !important;
}

.footer {
	color: #FFF;
	background-color: #888888;
	width: 100%;
	padding: 30px;
}

input[type="submit"]:disabled {
	background-color: #859bb5 !important;
}

.make-reservation.get-quote a #smart-button {
	background-color: #01479a !important;
}

::-webkit-scrollbar {
	background-color: transparent;
}

.seedeals-cruiseline-dropdown {
	/*margin-left: -262px !important;*/
}


::-webkit-scrollbar-thumb:hover {
  background: #c4c4cc;
}

::-webkit-scrollbar-thumb {
	background: #7da8dd;
}

.seeDealsTable {
	text-align: center;
	margin-top: 30px;
	color: rgb(101, 96, 94);
	width: 530px;
	margin-left: 10px;
}

.seedeals-reservationBar {
	margin-left: 30% !important;
	margin-top: 30px !important;
}

.seeDealsTable td {
	color: white;
}

.seeDealsTable th {
	text-align: center;
	color: rgb( 101, 96, 94);
}

.seeDealsTable td, th {
	padding: 20px 0;
}

#button__privacy {
	width:100px;
	color: #fff; 
	background-color: #888888; 
	font-size: 11px; 
	padding: 0; 
	font-family: 'Arial Rounded MT', Arial, Helvetica, sans-serif;
	border: none;
}

#seeDealsWrapper {
	border-bottom: 5px solid #86bc00; 
	padding-bottom: 30px; 
	display: inline-block; 
	width: 130px;
}

#seeDealsParagraph {
	margin-top: 30px;
	margin-left: 340px;
}


#question__popup {
	max-width: 800px;
	margin: 0 auto;
	font-size: 1em;
	/*height: 700px;
	overflow: scroll;*/
}

#question__popup h2 {
	background-color: #01479a;
	color: #fff;
}

#question__popup h2 span {
	color: #7ed1ff;
}

#question__popup p {
	max-width: 400px;
	padding: 15px;
	border-radius: 25px;
}

#question__popup .questionTime {
	background-color: #ffffff !important;
	color: #555555 !important;
	border: none !important;
	border-radius: 0 !important;
	padding-top: 0 !important;
	font-size: .8em;
}

#question__popup .left {
	float: left;
	clear: right;
	margin: 10px;
}

#question__popup .left p {
	border: 2px solid #e5e5ea;
	background-color: #e5e5ea;
}

#question__popup .left p.questionTime {
	text-align: left;
}

#question__popup .right {
	float: right;
	clear: left;
	margin: 20px;

}

#question__popup .right p {
	background-color: #269bfd;
	color: #ffffff;
	/*background-image: url('../smart-images/imessage1.png');
	background-size: 140% 90%;
	background-repeat: no-repeat;*/
}
/*
#question__popup .right div p {
	background-color: #269bfd;
	color: #ffffff;
	margin: auto;
	background-image: url('../smart-images/imessage1.png');
	background-size: 120% 90%;
	background-repeat: no-repeat;
}*/

#question__popup .right p.questionTime {
	text-align: right;
	background-image: none;
}

#question__popup .right a{
	color: #ffffff;
}


.footer a {
	color: white;
}

@media(max-width: 800px){
	#seeDealsWrapper {
		border-bottom: 5px solid #86bc00; 
		padding-bottom: 30px; 
		display: inline-block; 
		width: 100px;
	}

	.seeDealsTable td, .seeDealsTable th {
		width: 100px;
	}

	.reservationWrapper {
		width: 25%;
	}

	#seeDealsParagraph {
		margin-left: 300px !important;
	}
}

.full_page_main_content {
	width: 56%;
	display: inline-block;
	margin-left: 46px;
}


.full_page_main_content h2 {
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
	margin-top: 0;
}



.questions_main_content {
	width: 56%;
	display: inline-block;
	margin-left: 46px;
}

.questions_main_content h2 {
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
	margin-top: 0;
}

#seeDealsTable-wrapper {
	margin-left: 32px;
}

.sideNav {
	margin-top: 10px;
}

.sideNav_item {
	background-color: #000;
	text-align: center;
	width: 150px;
	font-size: 1.1em;
	color: #fff;
	float: right;
	clear: both;
	margin: 5px 0;
	padding: 10px;
}
.sideNav_item a {
	color: white;
}
.sideNav_item:hover {
	text-decoration: underline;
}

.sideNav_item p {
	margin: 0;
}

ul.slides {
	position:relative; 
	width:640px; 
	height:350px; 
	overflow:hidden;
	list-style: none;
	margin-left: 42px;
	margin-top: 23px;
}
ul.slides > li {
    position:absolute;
    top:0px;
    left:100%;
    width:100%;
    height:100%;
    color:#FFF;
    z-index:1;
}

ul.slides img {
	width: 640px;
}

.socialNetworks img{
	width: 50px;
	height: 50px;
}
.socialNetworks {
	text-align: right;
	margin-left: 54px;
	width: 120%;
}

.slidesDescription {
	float:left; 
	margin-left: 42px; 
	font-size: 1.5em; 
	font-weight: bold; 
	font-family: Arial;
}
.kiki {
	height: 1.25em;
	vertical-align: text-bottom;
}
#read-more {
	padding-left: 2em;
}
.about-head {
	display: block;
	margin-top: 15px;
	margin-bottom: 5px;
}

#about-us .text-justify {
-webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.hightlight {
	background-color: #FFFF00;
}
.dropdown-highlight {
	background-color: #E3E3E3;
}
.dropdown-menu li a {
	cursor: pointer;
}
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:hover {
	background-color: #d9edf7 !important;
}

.videos {
    margin: 5px auto;
    display: block;
}
.videos.youtube - video {
    float: left;
    height: 90px;
    width: 120px;
    border: solid 1px# dedede;
    padding: 5px;
}

.videos.youtube-video a > img {
	width: 20px;
}

.videos.youtube - video img {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.videos h6 {
    color:#3B5998;
    padding:0;
    margin:0;
    font-size:11px;
    font-weight:bold;
}
.videos p.link, .videos p.desc {
    color:#999;
    padding:0;
    margin:0;
    font-size:11px;
    padding:3px;
}

#frame-overlay {
	position: absolute;
	height: 150px;
	width: 200px;
	background-image: url('../smart-images/commercial-image.png');
	background-size: 200px 150px;
	background-repeat: none;
	cursor: pointer;
}

#video-screen {
	margin-top: 300px;
	margin-left: 470px;
}

#close-window {
	background-color: transparent;
	border: none;
	margin-left: 19px;
	font-weight: bold;
	width: 200px;
	color: white;
}

#overlay {
	position: fixed;
	z-index: 1;
	background-color: black;
	opacity: .75;
	height: 100%;
	width: 100%;
}