body {
	font-family: Arial, sans-serif;
	font-size: 1.7em; 
}

.popup {

}

.popup__wrapper {
	width: 100%;
	max-width: 900px;
	padding: 20px;
	overflow: auto !important;
	-webkit-overflow-scrolling: touch !important;
	margin: 0 auto;
}

@media(max-width: 800px) {
	.popup__wrapper{
		margin: 0 auto;
	}
}


h2 {
	padding-left: 10px;
	font-weight: bold;
}

table {
	border: none;
	width: 95%;
	margin: 0 auto;
	/*overflow-y: auto !important;
	overflow-x: auto !important; 
	-webkit-overflow-scrolling: touch !important;*/
}

td {
	padding: 2px;
	border: none;
	text-align: center;
}

th{
	margin: 5px;
	padding: 2px;
	text-align: center;
}

.spacer {
	width: 20px;
	background-color: #ffffff;
	border: none;
}

#question__popup {
	max-width: 800px;
	margin: 0 auto;
	font-size: .5em;
	/*height: 700px;
	overflow: scroll;*/
}

#question__popup h2 {
	background-color: #01479a;
	color: #fff;
}

#question__popup h2 span {
	color: #7ed1ff;
}

#question__popup p {
	max-width: 400px;
	padding: 15px;
	border-radius: 25px;
}

#question__popup .questionTime {
	background-color: #ffffff !important;
	color: #555555 !important;
	border: none !important;
	border-radius: 0 !important;
	padding-top: 0 !important;
	font-size: .8em;
}

#question__popup .left {
	float: left;
	clear: right;
	margin: 10px;
}

#question__popup .left p {
	border: 2px solid #e5e5ea;
	background-color: #e5e5ea;
}

#question__popup .left p.questionTime {
	text-align: left;
}

#question__popup .right {
	float: right;
	clear: left;
	margin: 10px;
}

#question__popup .right p {
	background-color: #269bfd;
	color: #ffffff;
}

#question__popup .right p.questionTime {
	text-align: right;
}

#question__popup .right a{
	color: #ffffff;
}

#seedeals__popup {
	min-width: 430px;
}

#seedeals__popup h2 {
	background-color: #86bc00;
	color: #fff;
}

#seedeals__popup h2 span {
	color: yellow;
}



#seedeals__description {
	margin: 0 auto;
	text-align: center;
}

#seedeals__header {
	text-align: center;
}

#seedeals__header h3, #seedeals__header img {
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
	font-size: 20px;
}

#seedeals__header img {
	width: 60px;
}

#seedeals__description{
	margin-top: 3%;
	margin-left: 5%;
}

#seedeals__description p {
	vertical-align: top;
	font-size: 1.1em;
	text-align: left;
}

@media(min-width: 800px){
	#seedeals__description p:not(:last-child){
		width: 14%;
		display: inline-block;
	}

	#seedeals__description p:last-child {
		text-align: center;
	}
}

@media(max-width: 600px){

	/*table {
		overflow: auto !important;
		-webkit-overflow-scrolling: touch !important;
	}*/
	#seedeals__header {
		display: block;
	}
/*
	#seedeals__header img {
		display: block;
		-ms-transform: rotate(90deg); 
	    -webkit-transform: rotate(90deg);
	    transform: rotate(90deg);
	    margin: 0 auto;
	}*/

	#seedeals__popup table {
		width: 90%;
		font-size: 80%;
	}
}

@media(max-width: 300px){
	#seedeals__description p{
		font-size: 1em;
	}

	table {
		margin: 0;
		padding: 0;
	}
}

#about__popup h2 {
	background-color: #7ed1ff;
	color: #fff;
}

#about__popup h2 span {
	color: #01479a;
}

#privacy__popup h2 {
	background: red;
	color: #ffffff;
}

#privacy__popup h2 span {
	color: #555555;
}

#triplife__popup {
	max-width: 800px;
	margin: 0 auto;
}



#triplife__popup h3,  {
	color: #00a2f0;
	font-size: 1.5em;
	font-weight: bold;
}

.blogHeader h2 {
	background-color:#afafaf;
	color: white;
}

.blogHeader h2 span {
	color: #a7ff00;
}

#triplife__popup .columnContainer {
	text-align: center;
}

#triplife__popup .column {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	max-width: 50%;
}

.blogContent {
	text-align: left;
}

.blogContent__header .image {
	display: inline-block;
}

.blogContent__header img {
	width: 100px;
	float: left;
	margin-right: 10px;
}

.blogContent__header h3 {
	display: inline-block;
}

#tripLeft {
	margin-right: 10%;
}

#tripLeft img {
	width: 300px;
}

@media(max-width: 800px) {
	#triplife__popup .column {
		max-width: 100%;
	}
	#tripLeft {
		margin-right: 0;
	}
}

#cruises__popup {

}

#cruises__popup h2 {
	background-color: #01479a;
	color: #ffffff;
}

#cruises__popup h2 span {
	color: #00a2e8;
}

#airport__popup {
	
}

#airport__popup h2 {
	background-color: #ffd900;
	color: #ffffff;
}

#airport__popup h2 span {
	color: #a2d1b3;
}

#travelTips1__popup ol li, #travelTips1__popup p {
	margin-bottom: 20px;
}

#travelTips3__popup img {
	width: 30%;
}

#travelTips3__popup p.image {
	display: inline-block;
}

#travelTips4__popup #header {
	margin-bottom: 20px;
}

#travelTips4__popup #header img {
	display: inline-block;
}

#travelTips4__popup #header #copy {
	width: 50%;
	display: inline-block;
}

@media(max-width: 800px) {
	#travelTips4__popup #header #copy {
		width: 100%;
		display: block;
	}
}



.popup__footer {
	text-align: right;
	clear: both;
}

.popup__footer img {
	width: 100px;
	height: 100px;
}